
<div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
        <h1 class="display-4">News Scraper</h1>
        <h3 class="lead">The news that is scraped came from Reuters.</h3>
    </div>
</div>

<ul>
{{#each article}}
<!--    <div class="col col-2"></div>-->
<div class="col">
    <div class="card">
        <div class="card-body">
            <a href="{{{ link }}}"><h5 class="card-title dim">{{{ title }}}</h5></a>
            <hr>
            <p class="card-text">{{{ summary }}}</p>
            <button type="button" class="btn btn-info saveArticle pull-right" data-id="{{_id}}">Save</button>
        </div>
    </div>
</div>
    <br>
<!--    <div class="col col-2"></div>-->
{{/each}}
</ul>

